$main-color : lemonchiffon;

@mixin autoSize() {
  @media screen and (max-width: 960px) {
    width: 100%;
  }
  @media screen and (min-width: 960px) {
    width: 960px;
  }
}



article{
    color:#333333;
    position: fixed;
    left: 50%;
    top:50%;
    transform: translateY(-50%);
    @include autoSize();
    height: 540px;
}


.videoToCenter{
  position: absolute;
  left: -50%;
}