doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv="X-UA-Compatible" content="IE=edge;IE=10;IE=9")
    title='title'
  body
    div(id="app")
    script(src="common/js/vendor.bundle.js")
    script(src="common/js/app.bundle.js")
